adf-jpmia-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-jpmia-dev"
		},
		"ls_adls_jpmia_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsjpmia.dfs.core.windows.net/"
		},
		"ls_adls_jpmia_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "ba1b0bed-5b3e-4a44-8262-436ffcfc847d"
		},
		"ls_adls_jpmia_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "4642e764-5d80-4e29-936b-59e06b8a16f4"
		},
		"ls_jpmia_synapse_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "synapse-jpmia-con-str"
		},
		"ls_kv_jpmia_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-jpmia-dev.vault.azure.net/"
		},
		"ls_referentials_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sql-referential-con-str"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_srv_postings_folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "jpmia-dbws"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_srv_postings_folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Load_Report_Tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[jpmia].[sp_LoadReportingTables]"
						},
						"linkedServiceName": {
							"referenceName": "ls_jpmia_synapse",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SynapseReports"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_jpmia_synapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_srv_companies')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "looping companie folder",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get companies files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get companies files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_jpmia_srv_companies",
											"type": "DataFlowReference",
											"parameters": {
												"df_fname": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"rawCompaniesFiles": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "get companies files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies_folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"sss": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SRV_Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_raw_companies_folder')]",
				"[concat(variables('factoryId'), '/dataflows/df_jpmia_srv_companies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_srv_job_postings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "load Job Postings",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_srv_postings",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"contractPostings": {},
									"fullTimeJobPostings": {},
									"internshipJobPostings": {},
									"otherJobPostings": {},
									"jobPostings": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"sss": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SRV_Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_srv_postings')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_srv_jobs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "looping job folder",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get job files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get job files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_jpmia_srv_jobs",
											"type": "DataFlowReference",
											"parameters": {
												"df_fname": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"rawJobFiles": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "get job files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_jpmia_raw_jobs_folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"sss": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SRV_Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_raw_jobs_folder')]",
				"[concat(variables('factoryId'), '/dataflows/df_jpmia_srv_jobs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ps_srv_maiin')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute srv companies",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_srv_companies",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute srv jobs",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute srv companies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_srv_jobs",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute srv postiings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute srv jobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_srv_job_postings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SRV_Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_srv_companies')]",
				"[concat(variables('factoryId'), '/pipelines/pl_srv_jobs')]",
				"[concat(variables('factoryId'), '/pipelines/pl_srv_job_postings')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_jpmia_raw_companies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_jpmia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRV_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_jpmia_raw_companies_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_jpmia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRV_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "companies",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "company_id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "company_size",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_jpmia_raw_jobs_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_jpmia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRV_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jobs",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "company_id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "company_size",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_jpmia_source_view')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_jpmia",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRV_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('source_view/',replace(utcnow('d'),'/','-'))",
							"type": "Expression"
						},
						"fileSystem": "jpmia"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_srv_postings_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_jpmia",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "source_view/",
						"fileSystem": "jpmiadata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_jpmia",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "source_view",
						"fileSystem": "jpmia"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_jpmia')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_jpmia_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_adls_jpmia_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_adls_jpmia_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv_jpmia",
							"type": "LinkedServiceReference"
						},
						"secretName": "sp-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_kv_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_jpmia_synapse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv_jpmia",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_jpmia_synapse_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_kv_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_kv_jpmia')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_kv_jpmia_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_referentials')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv_jpmia",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_referentials_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_kv_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_jpmia_srv_companies')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SRV_Dataflows"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies",
								"type": "DatasetReference"
							},
							"name": "rawCompaniesFiles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_jpmia_source_view",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls_jpmia",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     df_fname as string",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true,",
						"     wildcardPaths:[(concat('companies/', $df_fname))],",
						"     partitionBy('hash', 1)) ~> rawCompaniesFiles",
						"rawCompaniesFiles sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     partitionFileNames:[($df_fname)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_raw_companies')]",
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_source_view')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_jpmia_srv_jobs')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SRV_Dataflows"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies",
								"type": "DatasetReference"
							},
							"name": "rawJobFiles",
							"description": "Import data from ds_jpmia_raw_jobs"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_jpmia_source_view",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls_jpmia",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     df_fname as string",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true,",
						"     wildcardPaths:[(concat('jobs/', $df_fname))],",
						"     partitionBy('hash', 1)) ~> rawJobFiles",
						"rawJobFiles sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     partitionFileNames:[($df_fname)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_raw_companies')]",
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_source_view')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_jpmia')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_srv_postings')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SRV_Dataflows"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies",
								"type": "DatasetReference"
							},
							"name": "contractPostings"
						},
						{
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies",
								"type": "DatasetReference"
							},
							"name": "fullTimeJobPostings"
						},
						{
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies",
								"type": "DatasetReference"
							},
							"name": "internshipJobPostings"
						},
						{
							"dataset": {
								"referenceName": "ds_jpmia_raw_companies",
								"type": "DatasetReference"
							},
							"name": "otherJobPostings"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_jpmia_source_view",
								"type": "DatasetReference"
							},
							"name": "jobPostings"
						}
					],
					"transformations": [
						{
							"name": "combineSources"
						}
					],
					"scriptLines": [
						"source(output(",
						"          job_id as string,",
						"          company_id as string,",
						"          title as string,",
						"          description as string,",
						"          max_salary as string,",
						"          med_salary as string,",
						"          min_salary as string,",
						"          pay_period as string,",
						"          formatted_work_type as string,",
						"          location as string,",
						"          applies as string,",
						"          original_listed_time as string,",
						"          remote_allowed as string,",
						"          views as string,",
						"          job_posting_url as string,",
						"          application_url as string,",
						"          application_type as string,",
						"          expiry as string,",
						"          closed_time as string,",
						"          formatted_experience_level as string,",
						"          skills_desc as string,",
						"          listed_time as string,",
						"          posting_domain as string,",
						"          sponsored as string,",
						"          work_type as string,",
						"          currency as string,",
						"          compensation_type as string,",
						"          scraped as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true,",
						"     wildcardPaths:[(concat('postings/', 'contract_job_postings.csv'))]) ~> contractPostings",
						"source(output(",
						"          job_id as string,",
						"          company_id as string,",
						"          title as string,",
						"          description as string,",
						"          max_salary as string,",
						"          med_salary as string,",
						"          min_salary as string,",
						"          pay_period as string,",
						"          formatted_work_type as string,",
						"          location as string,",
						"          applies as string,",
						"          original_listed_time as string,",
						"          remote_allowed as string,",
						"          views as string,",
						"          job_posting_url as string,",
						"          application_url as string,",
						"          application_type as string,",
						"          expiry as string,",
						"          closed_time as string,",
						"          formatted_experience_level as string,",
						"          skills_desc as string,",
						"          listed_time as string,",
						"          posting_domain as string,",
						"          sponsored as string,",
						"          work_type as string,",
						"          currency as string,",
						"          compensation_type as string,",
						"          scraped as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true,",
						"     wildcardPaths:[(concat('postings/', 'full_time_job_postings.csv'))]) ~> fullTimeJobPostings",
						"source(output(",
						"          job_id as string,",
						"          company_id as string,",
						"          title as string,",
						"          description as string,",
						"          max_salary as string,",
						"          med_salary as string,",
						"          min_salary as string,",
						"          pay_period as string,",
						"          formatted_work_type as string,",
						"          location as string,",
						"          applies as string,",
						"          original_listed_time as string,",
						"          remote_allowed as string,",
						"          views as string,",
						"          job_posting_url as string,",
						"          application_url as string,",
						"          application_type as string,",
						"          expiry as string,",
						"          closed_time as string,",
						"          formatted_experience_level as string,",
						"          skills_desc as string,",
						"          listed_time as string,",
						"          posting_domain as string,",
						"          sponsored as string,",
						"          work_type as string,",
						"          currency as string,",
						"          compensation_type as string,",
						"          scraped as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true,",
						"     wildcardPaths:[(concat('postings/', 'internship_job_postings.csv'))]) ~> internshipJobPostings",
						"source(output(",
						"          job_id as string,",
						"          company_id as string,",
						"          title as string,",
						"          description as string,",
						"          max_salary as string,",
						"          med_salary as string,",
						"          min_salary as string,",
						"          pay_period as string,",
						"          formatted_work_type as string,",
						"          location as string,",
						"          applies as string,",
						"          original_listed_time as string,",
						"          remote_allowed as string,",
						"          views as string,",
						"          job_posting_url as string,",
						"          application_url as string,",
						"          application_type as string,",
						"          expiry as string,",
						"          closed_time as string,",
						"          formatted_experience_level as string,",
						"          skills_desc as string,",
						"          listed_time as string,",
						"          posting_domain as string,",
						"          sponsored as string,",
						"          work_type as string,",
						"          currency as string,",
						"          compensation_type as string,",
						"          scraped as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     multiLineRow: true,",
						"     wildcardPaths:[(concat('postings/','other_job_postings.csv'))]) ~> otherJobPostings",
						"contractPostings, fullTimeJobPostings, internshipJobPostings, otherJobPostings union(byName: true,",
						"     partitionBy('hash', 1))~> combineSources",
						"combineSources sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['job_postings.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> jobPostings"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_raw_companies')]",
				"[concat(variables('factoryId'), '/datasets/ds_jpmia_source_view')]"
			]
		}
	]
}